
.price-box {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.73);
    margin-left: 16px;
    line-height: 170%;
}

.right-title {
    position: relative;
    font-size: 46px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin: 0px 0px 20px;
}

.right-title img {
    width: 200px;
}

.right-list {
    text-align: left;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.right-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.right-list li .number {
    font-size: 14px;
    margin-right: 29px;
}

.right-list li .text {
    width: 100%;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
}

.pre-total {
    display: flex;
    justify-content: center;
    padding: 20px 28px;
    margin-bottom: 16px;
    align-items: center;
}

.price {
    color: rgb(254, 202, 1);
    margin: 10px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.join-btn span {
    position: relative;
    z-index: 10;
}

#root button {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    padding: 0px 35px;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
    letter-spacing: 0.5px;
    margin-right: 30px;
    justify-content: center !important;
    background: rgb(255, 255, 255) !important;
}

#root button:hover {
    background: rgb(21, 150, 224) !important;
}

.button-box {
    display: flex;
    align-items: center;
}

.button-box img {
    width: 75px;
}

.wallet-address {
    color: rgb(254, 202, 1);
    text-shadow: rgb(0, 162, 209) 0px 4px 3px;
    text-align: center;
    display: none;
}

#remaining {
    display: none;
}

@media only screen and (min-width: 1400px) {
    .main-screen {
        height: 100vh;
    }
}

.animation {
    animation: 4s ease 0s infinite normal none running animation;
}

@-webkit-keyframes animation {
    0% {
        transform: rotate(0deg) translate3d(5px, 0px, 0px) rotate(0deg);
    }
    100% {
        transform: rotate(1turn) translate3d(5px, 0px, 0px) rotate(-1turn);
    }
}

@keyframes animation {
    0% {
        transform: rotate(0deg) translate3d(5px, 0px, 0px) rotate(0deg);
    }
    100% {
        transform: rotate(1turn) translate3d(5px, 0px, 0px) rotate(-1turn);
    }
}